<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.ApplyWelfareMapper">
  <resultMap id="BaseResultMap" type="com.manage.model.ApplyWelfare">
    <!--@mbg.generated-->
    <!--@Table apply_welfare-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="welfare_id" jdbcType="VARCHAR" property="welfareId" />
    <result column="welfare_name" jdbcType="VARCHAR" property="welfareName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, teacher_id, welfare_id, welfare_name, `status`, gmt_create, gmt_modified
  </sql>
</mapper>